html,
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}

.head1 {
    font-size: 30px;
    text-align: left;
    margin-left:5%;
    margin-top: 35px;
}

.head2 {
    font-size: 25px;
    text-align: left;
    margin-left:7%;
    margin-top: 35px;
}

.text {
    font-size: 20px;
    text-align: left;
    margin-left:9%;
    margin-top: 35px;
}

.headleft{
    font-size: 30px;
    text-align: left;
    float: left;
    margin-top: 35px;
    margin-left: 350px;
    color: lightsalmon;
    text-decoration: underline;
}

.headright{
    font-size: 30px;
    text-align: right;
    float: right;
    margin-top: 35px;
    margin-right: 350px;
    color: lightsalmon;
    text-decoration: underline;
}

.listleft{
    font-size: 20px;
    width: 35%;
    padding: 15px;
    text-align: left;
    float: left;
    color: darkslategray;
    margin-top: 10px;
    margin-left: 150px;
    display: inline-block;
    background: whitesmoke;
}

.listright{
    font-size: 20px;
    width: 35%;
    padding: 15px;
    text-align: right;
    float: right;
    color: darkslategray;
    margin-top: 10px;
    margin-right: 150px;
    display: inline-block;
    background: whitesmoke;
}